absl-py==1.1.0
asgiref==3.5.2
astunparse==1.6.3
bcrypt==3.2.2
beautifulsoup4==4.11.1
cachetools==5.2.0
cffi==1.15.1
charset-normalizer==2.1.0
cycler==0.11.0
dj-database-url==1.2.0
Django==4.0.6
django-bootstrap-icons==0.8.1
django-bootstrap-v5==1.0.11
django-heroku==0.3.1
flatbuffers==1.12
gast==0.4.0
geographiclib==1.52
geopy==2.2.0
google-auth==2.9.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.47.0
gunicorn==20.1.0
h5py==3.7.0
keras==2.9.0
Keras-Preprocessing==1.1.2
matplotlib==3.5.2
numpy==1.23.1
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
Pillow==9.2.0
requests==2.28.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
urllib3==1.26.10
