bcrypt==3.2.2
Django==4.0.6
django-bootstrap-icons==0.8.1
django-bootstrap-v5==1.0.11
django-heroku==0.3.1
geopy==2.2.0
google-auth==2.9.1
google-auth-oauthlib==0.4.6
grpcio==1.47.0
gunicorn==20.1.0
keras==2.9.0
matplotlib==3.5.2
numpy==1.23.1
Pillow==9.2.0
requests==2.28.1
tensorflow==2.9.1
urllib3==1.26.10
