Hi,

We want to let you know that you have been listed as {{user.fname}} {{user.lname}}'s close contact on ✨Happy Hub✨! This is a great honor but also a lot of respnsibility!🤗

Somethings you may get emails about:
If {{user.fname}} logs as unhappy😔 for most of the week, we will email you to check on them.
If our software predicts that {{user.fname}} is at a risk of harming themself or others😱, you will get an email.

When we send you emails, we truly feel that {{user.fname}} needs help, so it is important to take these emails seriously, and check on them.🥺

Thank you and have a happy day,
💜Happy Hub🥳

"A real friend is one who walks in when the rest of the world walks out"- Walter Winchell

