{% extends 'main.html' %}

{% block title %}Dashboard{% endblock %}
{% block content %}
{% for message in messages %}
<div class="alert mt-3 alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
    <br>
    <br>
    <div class="emergencyCard">
        <strong>24-HOUR SUICIDE AND CRISIS LIFELINE: 988</strong><p>call or text</p>
    </div>
    <div class="emergencyCard">
        <a href="https://www.cdss.ca.gov/reporting/report-abuse/child-protective-services/report-child-abuse">Report Child Abuse, California</a>
    </div>
    <div class="emergencyCard">
        <strong>NATIONAL DOMESTIC ABUSE HOTLINE: 800-799-7233</strong><p>call or text</p>
    </div>
    <div class="emergencyCard">
        <a href="https://samaritanshope.org/our-services/24-7-helpline/">24/7 Good Samaritan Helpline</a>
    </div>
    <div class="emergencyCard">
        <strong>TREVOR PROJECT HOTLINE: call 1-866-488-7386 or text 'START' to 678-678</strong>
    </div>
    <div class="emergencyCard">
        <strong>TRUE COLORS UNITED HOTLINE: (212) 461-4401</strong>
    </div>
{% endblock %}