{% extends 'main.html' %}

{% block title %}Join Groups{% endblock %}
{% block content %}
{% for message in messages %}
<div class="alert mt-3 alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<br>
<br>
    <div class="createGrp">
        <form action="{% url 'group' %}" method="post" id="create">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">group name</span>
                </div>
                <input name="name" type="text" class="form-control" aria-describedby="basic-addon1">
            </div>
           
            <textarea name="description" style="width:740px; min-height: 100px;" class="form-control"  placeholder="description"></textarea>
            <br>
            <button type="submit" class="btn btn-info" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">Create a Group</button>
        </form>
    </div>
    <br>
    <br>
    <div class="help" style="margin-top: 50px; display: flex; vertical-align: top;"></div>
    <center>
    {% for group in groups %}
        <div class="card" style="width: 18rem; background-color: #F6D1F3;  margin: 30px; display: inline-block; vertical-align: top; height: 300px; display: inline-block;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin: 20px;">
            <div class="card-body">
            <h5 class="card-title">{{group.name}}</h5>
            <p class="card-text">{{group.description}}</p>
            {{group.n}} members
            <form action="{% url 'joinGroup' %}" method="post" id="join">
                {% csrf_token %}
                <input type="hidden" name="group" value="{{group.name}}">
                <button class="btn btn-light" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" type = "submit">Join</button>
            </form>
            </div>
        </div>
        
        
    {% endfor %}
    </center>
</div>
{% endblock %}